.stars {
  display: flex;
  position: relative;
  @include desktop {
    width: max-content;
    bottom: 0.9375rem;
    right: 0;
  }
  .starsGreyContainer,
  .starsRedContainer {
    display: flex;
    .starGrey,
    .starRed {
      height: 1rem;
      width: 1rem;
      margin-right: 0.3125rem;
      margin-left: 0;
      @include desktop {
        height: 1.875rem;
        width: 1.875rem;
        margin-left: 0.625rem;
        margin-right: 0;
      }
    }
  }
  .starsRedContainer {
    position: absolute;
    @include desktop {
      left: 0;
    }
  }
}
