.housing-sheet {
  .presentation {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }

    .starsAndHostContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.75rem;
      @include desktop {
        flex-direction: column-reverse;
        margin-top: 0;
        max-height: 8.3125rem;
      }
    }
  }
  .collapsesContainer {
    @include desktop {
      display: flex;
      margin-top: 0.625rem;
      justify-content: space-between;
    }
  }
}
