.section1 {
  background: rgba(0, 0, 0, 0.3) url('../../../public/img/section1Mobile.png')
    center/cover;
  background-blend-mode: darken;
  height: 6.9375rem;
  border-radius: 0.625rem;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  @include desktop {
    background: rgba(0, 0, 0, 0.3)
      url('../../../public/img/section1Desktop.png') center/cover;
    height: 13.9375rem;
    border-radius: 1.5625rem;
  }
  h1 {
    font-weight: 500;
    width: 217px;
    position: relative;
    right: 30px;
    @include desktop {
      font-size: 3rem;
      width: max-content;
      right: 0;
    }
  }
}
