.card {
  height: 15.9375rem;
  width: 20.9375rem;
  margin: 0.625rem auto;
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: flex-end;
  &:hover {
    img {
      filter: brightness(100%);
    }
    h2 {
      font-weight: bold;
    }
  }
  @include desktop {
    height: 21.25rem;
    width: 21.25rem;
    margin: 1.5625rem 0.3125rem;
  }
  img {
    transition: filter 0.3s;
    height: 15.9375rem;
    width: 20.9375rem;
    @include desktop {
      filter: brightness(75%);
      height: 21.25rem;
      width: 21.25rem;
    }
  }
  h2 {
    position: absolute;
    font-size: 1.125rem;
    color: #fff;
    margin-bottom: 0.9375rem;
    margin-left: 1.1875rem;
    width: 50%;
    font-weight: 500;
    transition: font-weight color 0.3s;
  }
}
