.host {
  display: flex;
  align-items: center;
  .name {
    width: 4.375rem;
    font-size: 0.75rem;
    @include desktop {
      font-size: 1.125rem;
      width: 5.625rem;
    }
  }
  .imgContainer {
    border-radius: 50%;
    overflow: hidden;
    height: 2rem;
    width: 2rem;
    @include desktop {
      height: 4rem;
      width: 4rem;
    }
    img {
      height: 2rem;
      width: 2rem;
      @include desktop {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}
