.collapse {
  margin-top: 1rem;
  font-size: 0.8125rem;
  position: relative;
  overflow: hidden;
  @include desktop {
    width: 46.3%;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
  }
  .title {
    background: $color-1;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;
    position: relative;
    z-index: 1;
    @include desktop {
      height: 3.25rem;
      min-height: 3.25rem;
      border-radius: 0.625rem;
    }
    h3 {
      color: #fff;
      margin-left: 0.6875rem;
      @include desktop {
        margin-left: 1.25rem;
      }
    }
    .bt,
    .btReverse {
      display: flex;
      align-items: center;
      background: transparent;
      border: 0;
      margin-right: 0.625rem;
      width: 1rem;
      height: 0.625rem;
      @include desktop {
        width: 1.6875rem;
        height: 1rem;
        margin-right: 1.125rem;
      }
    }
    .bt {
      transition: 0.5s ease-in-out;
      transform: rotateX(0);
    }
    .btReverse {
      transition: 0.5s ease-in-out;
      transform: rotateX(180deg);
    }
  }
  .content {
    border-radius: 0.3125rem;
    width: 100%;
    background: $color-2;
    text-align: justify;
    margin: 0 auto;
    @include desktop {
      border-radius: 0.625rem;
    }
    li {
      width: 90%;
      margin: 0 auto;
    }
  }
  .contentClose {
    transition: 0.5s ease-in-out;
    bottom: 1.75rem;
    @include desktop {
      bottom: 3.5625rem;
    }
    li {
      transition: 0.5s ease-in-out;
      opacity: 0;
      font-size: 0;
    }
  }
  .contentOpen {
    transition: 0.5s ease-in-out;
    bottom: 0.1875rem;
    padding: 0.625rem 0;
    @include desktop {
      bottom: 0.9375rem;
      height: 100%;
    }
    li {
      transition: 0.5s ease-in-out;
      opacity: 100;
    }
  }
}
.collapseClose {
  height: 1.875rem;
  transition: 0.5s ease-in-out;
  @include desktop {
    height: 3.3125rem;
  }
}
.collapseOpen {
  transition: 0.5s ease-in-out;
  height: 100%;
  @include desktop {
    min-height: 100%;
  }
}
