.thumb {
  display: flex;
  flex-direction: column;
  @include desktop {
    background-color: $color-2;
    border-radius: 1.5625rem;
    padding: 1.9375rem 1.875rem;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2.6875rem;
  }
}
