footer {
  background: black;
  text-align: center;
  height: 209px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  // overflow: hidden;
  img {
    margin-top: 62px;
  }
  p {
    display: flex;
    height: 19px;
    color: #fff;
    height: 46px;
    font-size: 12px;

    justify-content: center;
    align-items: end;
    @include desktop {
      font-size: 24px;
      margin-top: 31px;
    }
    &:before {
      content: '\00a9';
    }
  }
}
