footer {
  background: black;
  text-align: center;
  height: $hauteurFooter;
  width: 100%;
  margin-top: 1.25rem;

  img {
    margin-top: 3.875rem;
  }
  p {
    display: flex;
    height: 1.1875rem;
    color: #fff;
    height: 2.875rem;
    font-size: 0.75rem;

    justify-content: center;
    align-items: flex-end;
    @include desktop {
      font-size: 1.5rem;
      margin-top: 1.9375rem;
    }
    &:before {
      content: '\00a9';
    }
  }
}
